---
import { changeLanguage } from "i18next";
import Layout from "@/layouts/Layout.astro";
import Experience from "@/components/Sections/Experience.astro";
import Projects from "@/components/Sections/Projects.astro";
import Skills from "@/components/Sections/Skills.astro";
import Hero from "@/components/Sections/Hero.astro";
import About from "@/components/Sections/About.astro";
import KeyboardManager from "@/components/Sections/KeyboardManager.astro";
import { basics, projects, work, skills } from "@cv";
import { LanguageSelector } from "astro-i18next/components";

changeLanguage("en");

const { name, label } = basics;
---

<Layout title={`Portfolio of ${name} - ${label}`}>
  <main>
    <LanguageSelector showFlag={true} class="languages" />
    <Hero basics={basics} />
    <About basics={basics} />
    <Experience work={work} />
    <Projects projects={projects} />
    <Skills skills={skills} />
  </main>
  <KeyboardManager language="en" />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }
  .languages {
    border: 2px solid #666;
    margin: 0 auto 48px;
    max-width: 700px;
    appearance: none;
    background-color: white;
    border-radius: 0.25rem;
    padding: 0.4em 0.6em;
    font-family: "Space Grotesk";
    font-size: 0.9rem;
    position: absolute;
    display: flex;
    top: 15px;
    right: 50%;
  }
  .languages:is(:hover, :focus-within) {
    border-color: #4f39fa;
  }
  @media print {
    .languages {
      display: none !important;
    }
  }
</style>
